.hero {
    background-color: #f2f2f2;
    text-align: center;
  
  }
  
  .heroContent {
    background-color: rgba(160, 211, 255, 0.2);
    border-radius: 0.9rem;
    max-width: 250rem;
    height: 20rem;
    margin: 0 auto;
    padding: .2rem .8rem .2rem .8rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .3rem .4rem rgba(0, 0, 0, 0.4);
  }
  
  .hero h1 {
    font-size: 1.8rem;
    color: #333;
  }
  
  .hero p {
    font-size: 1.01rem;
    color: #666;
    margin-bottom: 1.4rem;
  }
  .skillCategory {
    display: flex;
    justify-content: space-between;
  }
  
  .skillBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(205, 243, 253, 0.3);
    border-radius: .8rem;
    width: 32%;
    height: 8rem;
    box-shadow: 0.3rem .3rem .4rem rgba(0, 0, 0, 0.4);
  }
  .skillBox :hover {
    cursor: pointer;
  }
  .skillSection {
    transition: transform 0.3s ease;
  }
  
  .skillSection.clicked {
    transform: translateY(2.9rem);
  }
  .python {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .visible {
    opacity: 1;
  }
  
  
  .skillBox p {
    position: absolute;
    left: 40%;
    top: 1.3rem;
    /* Add other styles as needed */
  }
  
  @media (max-width: 968px) {
    .skillBox p {
      position: absolute;
      left: 20%;
      top: 1.3rem;
      /* Add other styles as needed */
    }
  }