.hero {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  .heroContent {
    max-width: 600px;
    margin: 0 auto;
    padding-inline: .8rem;
  }
  
  .hero h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .hero p {
    font-size: 1.01rem;
    color: #666;
    margin-bottom: 1.4rem;
  }
  .skillCategory {
    display: flex;
    justify-content: space-between;
  }
  
  .skillBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 80, 80);
    border-radius: .8rem;
  }
  
  