.hero {
    padding: 50px;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 32px;
    color: #333;
  }
  .dark-mode .hero h1 {
    color: #c9c9c9;
  }
  
  .hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }

  .dark-mode .hero p {
    color: #a3a3a3;
  }
  
  .hero button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #01a0db;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  

  .dark-mode .hero{
    background-color: #1f1f1f;
    color: #e4e4e4;
  }

  .dark-mode .hero button {
    background-color: #0758b0;
    color: #eeeeee;
  }