/* Default styles for computers */
#container {
  width: 32rem;
  height: 9rem;
  margin-left: 1.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  column-gap: 1.5rem;
}

.square {
  position: relative;
  top: .2rem;
  width: 14.7rem;
  height: 8rem;
  background-color: red;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 0.8rem;
  box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
  scroll-snap-align: center;
}
.caroselContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10rem;
}
.svg {
  width: 9rem;
  height: 9rem;
}
/* Project Module for computer devices */
.opacityBackground {
  z-index: 2;
  background-color: rgba(11, 18, 19, 0.6);
  width: 100vw;
  height: 100vh;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  position: fixed;
}
.reactProject {
  padding: .2rem;
  z-index: 3;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  margin: 2rem;
  background-color: red;
  border-radius: 1rem;
}
.closeButton{
  position: absolute;
  right: .5rem;
  top: .5rem;
}
/* Responsive styles for mobile devices */
@media (max-width: 767px) {
  #container {
    width: 25.5rem;
    height: 8rem;
    margin-left: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
  }

  .square {
    width: 13rem;
    height: 7rem;
    background-color: red;
    display: inline-block;
    margin-right: 1rem;
    border-radius: 0.6rem;
    box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
    scroll-snap-align: center;
  }
  .svg {
    width: 8rem;
    height: 8rem;
  }
}

/* Responsive styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  #container {
    width: 25rem;
    height: 8.5rem;
    margin-left: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    white-space: nowrap;
  }

  .square {
    width: 17rem;
    height: 7.5rem;
    background-color: red;
    display: inline-block;
    margin-right: 1rem;
    border-radius: 0.6rem;
    box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
    }
    .svg {
      width: 8.5rem;
      height: 8.5rem;
    }
  }