/* Default styles for computers */
#container {
    width: 12rem;
    height: 7rem;
    margin-left: 1rem;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .square {
    width: 6.3rem;
    height: 6.3rem;
    background-color: red;
    display: inline-block;
    margin-right: 0.5rem;
    border-radius: 0.8rem;
    box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
  }
  .caroselContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}
  
  /* Responsive styles for mobile devices */
  @media (max-width: 767px) {
    #container {
      width: 5rem;
      height: 7rem;
      margin-left: 1rem;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .square {
      width: 4rem;
      height: 4rem;
      background-color: red;
      display: inline-block;
      margin-right: 0.5rem;
      border-radius: 0.6rem;
      box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
    }
  }
  
  /* Responsive styles for tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    #container {
      width: 5rem;
      height: 7rem;
      margin-left: 1rem;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .square {
      width: 4.5rem;
      height: 4.5rem;
      background-color: red;
      display: inline-block;
      margin-right: 0.5rem;
      border-radius: 0.6rem;
      box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
      }
    }