/* Default styles for computers */
#container {
  width: 32rem;
  height: 10rem;
  margin-left: 1.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  column-gap: 1.5rem;
}

.square {
  width: 14.7rem;
  height: 8rem;
  background-color: red;
  display: inline-block;
  border-radius: 0.8rem;
  box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
  scroll-snap-align: center;
  transition: width 0.3s, height 0.3s; 
}

.square:hover {
  width: 15.2rem;
  height: 10rem;
}
.square:hover,
.square:focus {
  transition-duration: 0.5s; /* Slow transition when un-hovering */
}
.caroselContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.svg {
  width: 9rem;
  height: 9rem;
}
/* Responsive styles for mobile devices */
@media (max-width: 767px) {
  #container {
    width: 25.5rem;
    height: 8rem;
    margin-left: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
  }

  .square {
    width: 13rem;
    height: 7rem;
    background-color: red;
    display: inline-block;
    border-radius: 0.6rem;
    box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
    scroll-snap-align: center;
  }
  .svg {
    width: 8rem;
    height: 8rem;
  }
}

/* Responsive styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  #container {
    width: 25rem;
    height: 8.5rem;
    margin-left: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    white-space: nowrap;
  }

  .square {
    width: 17rem;
    height: 7.5rem;
    background-color: red;
    display: inline-block;
    margin-right: 1rem;
    border-radius: 0.6rem;
    box-shadow: .15rem .2rem .25rem rgba(0, 0, 0, 0.5); 
    }
    .svg {
      width: 8.5rem;
      height: 8.5rem;
    }
  }