.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: teal;
    border-radius: 7px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .form-container.closed {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  label {
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    cursor: pointer;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }