.navbar {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
}
